* {
    /* margin: 0; */
    /* box-sizing: border-box; */
    color: #000000;
}
.main {
    max-width: 100%;
}
.navbar {
    background-color: #000000;
}
.navbar h3 {
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
    margin-top: 5px;
    color: #ffffff;
}
.home {
    background-color: #ffffff;
}
/* .home_left {
    
} */
.home_left h1 {
    color: #e34138;
    font-family: 'Montserrat', Sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 18px;
    margin-bottom: 2px;
}
.home_left .sub {
    color: #680000;
    font-family: 'Montserrat', Sans-serif;
    font-weight: 600;
    margin-left: 80px;
    margin-bottom: 10px;
}
.home_left .txt {
    color: #000000;
    font-family: 'Montserrat', Sans-serif;
    font-weight: 500;
    line-height: 20px;
    /* margin-left: 13px; */
}
/* this is for the timer countdown */
.coming_soon h3{
    font-size: 15px;
}
.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.day,.hour,.minutes,.secs {
    font-size: 25px;
}
.price p {
    color: #B31808;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    margin-left: 75px;
}
.home_left .btn {
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    background-color: #F20505;
    margin-left: 60px;
}
.slider {
    margin-top: 20px;
    margin-left: 14px;
    margin-right: 15px;
}
/* feature */
.feature h5 {
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-left: 9px;
    margin-top: 32px;
    margin-bottom: 23px;
}
.feature_list {
    margin-left: -15px;
}
.feature .feature_list .list {
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-weight: 500;
    list-style: georgian;
    line-height: 20px;
    margin-bottom: 27px;
}
.gallery .gallery_img {
    margin-right: 15px;
    margin-bottom: 15px;
    width: 330px;
    height: 300px;
}
.pricing .btn {
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    background-color: #F20505;
    margin-left: 60px;
}
.more_photos img {
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 39px;
    width: 330px;
    height: 300px;
}
.action h5 {
    color: #F90C0C;
    font-family: "Montserrat", Sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin-left: 34px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.action .vid {
    padding-top: 10px;
    padding-bottom: 15px;
}
.review .review_chart {
    margin-top: 10px;
    margin-bottom: 10px;
}
.how_to_fix h5 {
    color: #F41313;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    margin-left: 5px;
    font-size: 15px;
    align-items: center;
    text-align: center;
}
.how_to_fix p {
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.testimony {
    background-color: #f8dfdf;
    max-width: 100%;
}
.testimony h4 {
    color: #FF2D24;
    font-family: "Roboto", Sans-serif;
    font-weight: bolder;
    font-size: 15px;
    margin-left: 63px;
    padding-top: 15px;
}
.testimony .result p {
    margin: 10px;
}
.testimony_img {
    margin-left: 75px;
}
.note {
    margin-top: 15px;
}
.note h5 {
    color: #F92F0E;
    font-family: "Montserrat", Sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-left: 145px;
    margin-top: 50px;
}
.note p {
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.note .contact {
    color: #FF1700;
    font-size: 20px;
    margin-left: 69px;
    font-weight: bold;
}
/* disclaimer */
.disclaimer {
    background-color: black;
    color: white;
    margin: 0x;
    margin-bottom: 82px;
}
.disclaimer p {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 18px;
    padding-bottom: 20px;
}
.disclaimer h5 {
    color: #FD0E0E;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    margin-left: 100px;
    /* margin-bottom: 100px; */
}
.fixed {
    /* margin-top: 100px; */
    position: fixed;
    bottom: 0;
    background: #000000;
    color: #ffffff;
}
.fixed h5 {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}
.fixed .btn {
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    background-color: #F20505;
    margin-left: 91px;
}